<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- This wrapper supports both custom configuration section, converterSettings, and appSettings section. -->
  <!-- Even though the converterSettings section is preferrable, if it's not defined, it alternatively looks for the appSettings section. -->
  <!-- If the converterSettings section is defined, the values defined in the appSettings section are ignored. -->
  <configSections>
    <section name="converterSettings" type="Cir.CloudConvert.Wrapper.ConverterSettings, Cir.CloudConvert.Wrapper" requirePermission="false"/>
  </configSections>
  <converterSettings>
    <basic processUrl="https://api.cloudconvert.com/process" useHeader="true">
      <!-- The API key can be found at https://cloudconvert.com/user/profile after login. -->
      <!-- Note that the public API key on https://cloudconvert.com/apiconsole without login cannot be used for test. -->
      <!-- The API key below is an example, not the real one. -->
      <apiKey value="gRZNr6HeVKIW8gZILkNE0aYJqxmhuJw0eyTrpOHwGUvlQVBwwbb7WKCzM6z6DqOP"/>
    </basic>
  </converterSettings>
  <appSettings>
    <add key="ProcessUrl" value="https://api.cloudconvert.com/process"/>
    <add key="UseHeader" value="true"/>
    <!-- The API key can be found at https://cloudconvert.com/user/profile after login. -->
    <!-- Note that the public API key on https://cloudconvert.com/apiconsole without login cannot be used for test. -->
    <!-- The API key below is an example, not the real one. -->
    <add key="ApiKey" value="gRZNr6HeVKIW8gZILkNE0aYJqxmhuJw0eyTrpOHwGUvlQVBwwbb7WKCzM6z6DqOP"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
