
<ng-form>
    <div class="form-group">
        <label for="dataSrc" form-builder-tooltip="test test test The source to use for the select data. Values lets you provide your own values and labels. JSON lets you provide raw JSON data. URL lets you provide a URL to retrieve the JSON data from.">{{'Data Source Type' | formioTranslate}}</label>
        <select class="form-control" id="dataSrc" name="dataSrc" ng-model="component.dataSrc" ng-options="value as label | formioTranslate for (value, label) in dataSources"></select>
    </div>
    <ng-switch on="component.dataSrc">
        <div class="form-group" ng-switch-when="json">
            <label for="data.json" form-builder-tooltip="A raw JSON array to use as a data source.">{{'Data Source Raw JSON' | formioTranslate}}</label>
            <textarea class="form-control" id="data.json" name="data.json" ng-model="component.data.json" placeholder="Raw JSON Array" json-input rows="3">{{ component.data.json }}</textarea>
        </div>

        <div ng-switch-when="file">
            <dropdown-data data="component.data.values"></dropdown-data>
        </div>

        <div ng-switch-when="url">
            <form-builder-option property="data.url" label="Data Source URL" placeholder="Data Source URL" title="A URL that returns a JSON array to use as the data source."></form-builder-option>
        </div>

        <div ng-switch-when="indexeddb">
            <form-builder-option property="data.url" label="Index DB table name" placeholder="Index DB table name" title="Index DB table to use as the data source."></form-builder-option>
        </div>

    </ng-switch>

    <form-builder-option ng-hide="component.dataSrc !== 'url'" property="selectValues" label="Data Path" type="text" placeholder="The object path to the iterable items." title="The property within the source data, where iterable items reside. For example: results.items or results[0].items"></form-builder-option>
    <form-builder-option ng-hide="component.dataSrc == 'custom'" property="valueProperty" label="Value Property" placeholder="The selected item's property to save." title="The property of each item in the data source to use as the select value. If not specified, the item itself will be used."></form-builder-option>

    <form-builder-option ng-show="component.dataSrc == 'url' || component.dataSrc == 'resource' || component.dataSrc == 'indexeddb'" property="searchField" label="Search Query Name" placeholder="Name of URL query parameter" title="The name of the search querystring parameter used when sending a request to filter results with. The server at the URL must handle this query parameter."></form-builder-option>

    <div class="form-group" ng-show="component.dataSrc == 'json'">
        <label for="filter" form-builder-tooltip="The filter type for search.">{{'Search Filter' | formioTranslate}}</label>
        <select class="form-control" id="filter" name="filter" ng-model="component.filter" ng-options="value as label | formioTranslate for (value, label) in {none: 'No Search', contains: 'Contains', startsWith: 'Starts With'}"></select>
    </div>

    <div class="form-group" ng-show="component.dataSrc == 'custom'">
        <label for="custom" form-builder-tooltip="Write custom code to return the value options. The form data object is available.">{{'Custom Values' | formioTranslate}}</label>
        <formio-script-editor rows="10" id="custom" name="custom" ng-model="component.data.custom" placeholder="/*** Example Code ***/\nvalues = data['mykey'];"></formio-script-editor>
    </div>

    <div class="form-group">
        <label for="placeholder" form-builder-tooltip="The HTML template for the result data items.">{{'Item Template' | formioTranslate}}</label>
        <textarea class="form-control" id="template" name="template" ng-model="component.template" rows="3">{{ component.template }}</textarea>
    </div>

    <div class="form-group" ng-hide="component.dataSrc == 'json'">
        <label for="placeholder" form-builder-tooltip="Refresh data when another field changes.">{{'Refresh On' | formioTranslate}}</label>
        <select class="form-control" id="refreshOn" name="refreshOn" ng-options="field.key as field.label for field in formFields" ng-model="component.refreshOn"></select>
    </div>

    <form-builder-option ng-show="component.dataSrc == 'url' || component.dataSrc == 'custom'" property="clearOnRefresh"></form-builder-option>
    <form-builder-option ng-show="component.dataSrc == 'url'" property="authenticate"></form-builder-option>
    <form-builder-option property="defaultValue"></form-builder-option>
</ng-form>
