<div class="pull-right d-inline-block">
    <!--<a class='btn btn-primary btn-md cirDraftButton' ng-click='addNewBlade()' id='btnAddNewBlade' ng-show='showAddNewBlade()'>ADD NEW BLADE</a>-->
    <a class='btn btn-primary btn-md cirDraftButton' ng-click='submitDraft()'>SAVE AS DRAFT</a>
    <button class='btn btn-primary btn-md cirSaveButton' ng-click='submitForm()' ng-show='showSubmit()'>SUBMIT CIR</button>
    <button class='btn btn-primary btn-md cirSaveButton' ng-click='submitApproveForm()'ng-show='showApproveSubmit()' id='btnApproveSubmit'>SUBMIT & APPROVE CIR</button>
</div>