<div class="component-form-group component-type-fieldset form-builder-component pull-right d-inline-block">
    <a class='btn btn-primary btn-md' ng-click='addNewBlade()' id='btnAddNewBlade' ng-show='showAddNewBlade()'>Add new blade</a>
    <a class='btn btn-primary btn-md' ng-click='submitDraft()'>Submit As Draft</a>
    <button class='btn btn-primary btn-md' ng-click='submitForm()' ng-show='showSubmitButton()' >Submit</button>
    <button class='btn btn-primary btn-md'ng-click='submitApproveForm()' id='btnApproveSubmit' ng-show='showApproveSubmit()'>Submit and Approve</button>
</div>