<div class="row form-group">
    <div class="row">
        <div class="col-lg-1">
            <label class="switch">
                <input type="checkbox" ng-required="isRequired(component)" ng-model="data[component.key]" value="{{ component.value }}" name="{{ component.key }}" id="{{ component.key }}" ng-disabled="{{ component.disabled }}">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-lg-11">
            <label class="control-label " ng-class="{'field-required': isRequired(component)}">{{ component.label }}</label>
        </div>
    </div>
</div>