<div class="form-group form-field-type-panel  expandable-panel collapsed">
    <div class="panel panel-default">
        <div class="panel-heading ng-scope">
            <h3 class="panel-title ng-binding">Turbine Data</h3>
        </div>
        <div class="panel-body">
            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtCountry" ng-class="!!$ctrl.data.txtCountry ? 'control-label float-label-focused' : 'control-label'">Country</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtCountry" ng-disabled="true" ng-model="$ctrl.data.txtCountry">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtSiteName" ng-class="!!$ctrl.data.txtSiteName ? 'control-label float-label-focused' : 'control-label'">Site Name(ZIP code if appropriate)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtSiteName" ng-disabled="true" ng-model="$ctrl.data.txtSiteName">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtTurbinetype" ng-class="!!$ctrl.data.txtTurbineType ? 'control-label float-label-focused' : 'control-label'">Turbine type</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtTurbinetype" ng-disabled="true" ng-model="$ctrl.data.txtTurbineType">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtRotordiameter" ng-class="!!$ctrl.data.txtRotorDiameter ? 'control-label float-label-focused' : 'control-label'">Rotor diameter</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtRotordiameter" ng-disabled="true" ng-model="$ctrl.data.txtRotorDiameter">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtNominelPower" ng-class="!!$ctrl.data.txtNominelPower ? 'control-label float-label-focused' : 'control-label'">Nominel power</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtNominelPower" ng-disabled="true" ng-model="$ctrl.data.txtNominelPower">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtVoltage" ng-class="!!$ctrl.data.txtVoltage ? 'control-label float-label-focused' : 'control-label'">Voltage</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtVoltage" ng-disabled="true" ng-model="$ctrl.data.txtVoltage">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtPowerregulation" ng-class="!!$ctrl.data.txtPowerRegulation ? 'control-label float-label-focused' : 'control-label'">Power regulation</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtPowerregulation" ng-disabled="true" ng-model="$ctrl.data.txtPowerRegulation">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtFrequency" ng-class="!!$ctrl.data.txtFrequency ? 'control-label float-label-focused' : 'control-label'">Frequency</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtFrequency" ng-disabled="true" ng-model="$ctrl.data.txtFrequency">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtSmallgenerator" ng-class="!!$ctrl.data.txtSmallGenerator ? 'control-label float-label-focused' : 'control-label'">Small generator</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtSmallgenerator" ng-disabled="true" ng-model="$ctrl.data.txtSmallGenerator">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtTemperaturevariant" ng-class="!!$ctrl.data.txtTemperatureVariant ? 'control-label float-label-focused' : 'control-label'">Temperature variant</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtTemperaturevariant" ng-disabled="true" ng-model="$ctrl.data.txtTemperatureVariant">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtMKversion" ng-class="!!$ctrl.data.txtMKversion ? 'control-label float-label-focused' : 'control-label'">MK version</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtMKversion" ng-disabled="true" ng-model="$ctrl.data.txtMKversion">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtOnshoreOffshore" ng-class="!!$ctrl.data.txtOnshoreOffshore ? 'control-label float-label-focused' : 'control-label'">Onshore / Offshore</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtOnshoreOffshore" ng-disabled="true" ng-model="$ctrl.data.txtOnshoreOffshore">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtManufacturer" ng-class="!!$ctrl.data.txtManufacturer ? 'control-label float-label-focused' : 'control-label'">Manufacturer</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtManufacturer" ng-disabled="true" ng-model="$ctrl.data.txtManufacturer">
                    </div>
                </div>
            </div>

            <div class="form-group form-field-type-textfield">
                <div>
                    <label for="txtLocalturbineId" ng-class="!!$ctrl.data.txtLocalturbineId ? 'control-label float-label-focused' : 'control-label'">Local turbine ID</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtLocalturbineId" ng-disabled="true" ng-model="$ctrl.data.txtLocalturbineId">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
