<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MS_TableConnectionString" connectionString="Data Source=tcp:vestascirdbdev.database.windows.net,1433;Initial Catalog=vestascirdbdev;User ID=xestn@vestascirdbdev;Password=Slankemad1;Connection Timeout=1000" providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DownloadUrl" value="https://vestascirmobileappdev.azurewebsites.net/api/BirPdfDownload/BirFiles/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="MS_MobileServiceName" value="vestascirmobileappdev" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="ValidAudience" value="https://vestascirmobileappdev.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="ValidIssuer" value="https://vestascirmobileappdev.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)"  />
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISyncService"
        contract="CirSyncService.ISyncService" name="WSHttpBinding_ISyncService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISyncService"
        contract="CirSyncService.ISyncService" name="MetadataExchangeHttpBinding_ISyncService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>