<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>

    <add name="CIM_MasterDataConn" connectionString="Data Source=cim-dev-db;Initial Catalog=CIM_ComponentInspectionReports;Integrated Security=False;user id=xestn; password=Slankemad1;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CIM_CIREntities" connectionString="metadata=res://*/Edmx.SaveCirEntity.csdl|res://*/Edmx.SaveCirEntity.ssdl|res://*/Edmx.SaveCirEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cim-dev-db;initial catalog=CIM_ComponentInspectionReports;integrated security=False;user id=xestn; password=Slankemad1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key ="InitialCIRIdForNewApproach" value ="413000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="birTemplateVersion" value="v3.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTPHost" value="dk-external-relay.vestas.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="InboxUrl" value="https://cir-dev.vestas.com/cir"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InboxEmail" value="angpa@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailBox1537Email" value="CIR-DEV-Notifications@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HotlistEmail" value="CIR-DEV-Notifications@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FirstNotificationCcEmail" value="angpa@vestas.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecondNotificationCcEmail" value="angpa@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AbbMwEmail" value="angpa@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LeroySomerMwEmail" value="angpa@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NotificationEmail" value="angpa@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FeedbackToEmail" value="angpa@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="UseSapWebService" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SapWebServiceUserName" value="SOAPCIRD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapWebServicePassword" value="Bbx9fk1d"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapNotificationNumberWebServiceUrl" value="http://sapdxc.vestas.net:50000/WSAdapter/CS0601/GetValidation"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapServiceReportNumberWebServiceUrl" value="http://sapdxc.vestas.net:50000/WSAdapter/CS0601/ValidateServiceReportNumber"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="hdnCirId" value="400000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>
</configuration>