<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CIM_MasterDataConn" connectionString="Data Source=CIM-DB.VESTAS.NET;Initial Catalog=CIM_ComponentInspectionReports;uid=APP_CIM_CIRM_WinApp; pwd=8fd389fedew;" providerName="System.Data.SqlClient"/>
    <add name="CIM_CIREntities" connectionString="metadata=res://*/Edmx.SaveCirEntity.csdl|res://*/Edmx.SaveCirEntity.ssdl|res://*/Edmx.SaveCirEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CIM-DB.VESTAS.NET;initial catalog=CIM_ComponentInspectionReports;user id=APP_CIM_CIRM_WinApp;password=8fd389fedew;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key ="InitialCIRIdForNewApproach" value ="291737"/>
    <add key="birTemplateVersion" value="v3.1" />
    <add key="SMTPHost" value="dk-external-relay.vestas.net" />
    <add key="InboxUrl" value="http://cir.vestas.com/cir" />
    <add key="InboxEmail" value="cir@partnernet.vestas.com" />
    <add key="MailBox1537Email" value="TechRDCIMCIM1537@vestas.com" />
    <add key="HotlistEmail" value="cim-hotlist@vestas.com" />
    <add key="FirstNotificationCcEmail" value="FirstNotification-CIM@vestas.com" />
    <add key="SecondNotificationCcEmail" value="SecondNotification-CIM@vestas.com" />
    <add key="AbbMwEmail" value="Support.Machines@fi.abb.com" />
    <add key="LeroySomerMwEmail" value="sav.aceo@leroysomer.com" />
    <add key="NotificationEmail" value="JACAB@vestas.com" />
    <add key="FeedbackToEmail" value="JACAB@vestas.com" />
    <add key="SentActualMails" value="true" />
    <add key="UseSapWebService" value="true" />
    <add key="SapWebServiceUserName" value="SOAPCIRP" />
    <add key="SapWebServicePassword" value="Nse6bf7f" />
    <add key="SapNotificationNumberWebServiceUrl" value="http://sappow.vestas.net:8094/WSAdapter/CS0601/GetValidation" />
    <add key="SapServiceReportNumberWebServiceUrl" value="http://sappow.vestas.net:8094/WSAdapter/CS0601/ValidateServiceReportNumber" />
    <add key="EndPointUrl" value="https://cir-multibrand-database-prod.documents.azure.com:443/" />
    <add key="PrimaryKey" value="XiqtNpYL99cRuKDSIWBH55Ndn2pP5B1EtuIes3cLnUEZorFo8ou8SRMiEvHtONvjszmdltc8Rvd46N5ZTReK9Q==" />
    <add key="Database" value="CirMultibrand" />
    <add key="CirCollectionName" value="BirReportData" />
    <add key="GIRGBXIRCollectionName" value="GIRGBXIRReportData" />

    <add key="SasBlobToken0" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T15:59:27Z&amp;st=2019-06-10T07:59:27Z&amp;spr=https,http&amp;sig=%2F19DDwWCXi9S41EyGdZKEAr4wqoctHXV8VXY%2BjdGmoU%3D"/>
    <add key="SasBlobToken1" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:08:48Z&amp;st=2019-06-07T16:08:48Z&amp;spr=https,http&amp;sig=m9aEkTvA6vFJB25iMRmtlqsOLt2Rw1JclpqtBWLStD0%3D"   />
    <add key="SasBlobToken2" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:08:03Z&amp;st=2019-06-07T16:08:03Z&amp;spr=https,http&amp;sig=%2BmdUJ1kUrb7vmoZLK3nngV5LNTbNaABMO1FKFu84d8A%3D"  />
    <add key="SasBlobToken3" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:07:33Z&amp;st=2019-06-07T16:07:33Z&amp;spr=https,http&amp;sig=TmQrYkqlb8cPK3KnI9c3yIC2QlY%2F8RteU3GGtpAxZMs%3D"  />
    <add key="SasBlobToken4" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:06:58Z&amp;st=2019-06-07T16:06:58Z&amp;spr=https,http&amp;sig=1eS3RXDozAYDq9KNZ9AEGa9zhBPgrtC1AcR4a%2Bc%2Beww%3D"  />
    <add key="SasBlobToken5" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:06:22Z&amp;st=2019-06-07T16:06:22Z&amp;spr=https,http&amp;sig=tKrbJzAKYQaELBlYxqNe7sBvc39UhoCgFBqeYhZ%2FAsk%3D"  />
    <add key="SasBlobToken6" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:05:35Z&amp;st=2019-06-07T16:05:35Z&amp;spr=https,http&amp;sig=opPXLIT17hzaD01VRifYtoRiTlV189RBkizeO7P0%2Fj8%3D"  />
    <add key="SasBlobToken7" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:06:04Z&amp;st=2019-06-07T16:06:04Z&amp;spr=https,http&amp;sig=lDg4SAcF%2BF6Qw8oBDJs%2FQSVclg79XVyZ%2BiXdCUNWtG8%3D"  />
    <add key="SasBlobToken8" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:04:54Z&amp;st=2019-06-07T16:04:54Z&amp;spr=https,http&amp;sig=JLQd5u1aXfkGlqFK1fo%2B44QxfqmGtY8x2mbUjxqoAaw%3D"  />
    <add key="SasBlobToken9" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:03:32Z&amp;st=2019-06-07T16:03:32Z&amp;spr=https,http&amp;sig=fz9FfA7Y1t7DZJaVJR7DJXQd858xqrztvd8uw2wTOf8%3D"  />
    <add key="SasBlobToken10" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:02:32Z&amp;st=2019-06-07T16:02:32Z&amp;spr=https,http&amp;sig=kCzM4UxGsi3QrmUxspTUp47p%2BI1T3x%2F9SSFlHhWVE%2Bs%3D"  />
    <add key="SasBlobToken11" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:01:01Z&amp;st=2019-06-07T16:01:01Z&amp;spr=https,http&amp;sig=rhLuWJgpBE7nh2skFLgvTrUdZFUY7IiBzDZneAlkg6E%3D"  />
    <add key="SasBlobToken12" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T00:00:03Z&amp;st=2019-06-07T16:00:03Z&amp;spr=https,http&amp;sig=q3REZlYfB1xxVHgYYZ9REb2%2B2QDLFsYZAD2eVYo4O8I%3D"  />
    <add key="SasBlobToken13" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-07T23:59:03Z&amp;st=2019-06-07T15:59:03Z&amp;spr=https,http&amp;sig=AAFCYmBE%2B%2FYDwDe7lUuZhS97CF2iVKbQNa6nOyNHqiU%3D"  />
    <add key="SasBlobToken14" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-07T23:56:10Z&amp;st=2019-06-07T15:56:10Z&amp;spr=https,http&amp;sig=ZRjtl9ek7hBZQEQWB0E3faJLbEBOk5fIcl883YWE2h0%3D"  />
    <add key="SasBlobToken15" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-07T23:54:32Z&amp;st=2019-06-07T15:54:32Z&amp;spr=https,http&amp;sig=RQ0A5IcPtN4bZCLnaPgF0s3KZeRpR3yPuxzS2QyncBY%3D"  />

    <!--<add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cirblobstoragedev;AccountKey=MeW/7vHcnbWXi2NU7Fl0r/DgiQK1ARiqfRLXZp8BsrPArm9TG4t1ZH0xWz5ZkXUWmqFmNcIxYBw9k9iXkjGMGA==;EndpointSuffix=core.windows.net" />
    <add key="AzureStorageContainerName" value="birreportcontainer" />-->

    <!--prod-->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cirprodblobstorage;AccountKey=BpmaYyTaB+JC+KfVsPIqm3jyVf1sefzCVWA39yOOk0xOJUZHT3rK7PIJxL18/WZAUSmkdgjwqgQzoAvmGciGuw==;EndpointSuffix=core.windows.net" />
    <add key="AzureStorageBIRContainerName" value="birreportcontainer"  />
    <add key="AzureStorageImgContainerName" value="cirprodcontainer" />
    <add key="hdnCirId" value="345592"/>
    <add key="DefaultTurbineNumber" value="9434"/>
  </appSettings>
  <!-- WCF Setting code -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Cir.Sync.Services.SyncServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <wsHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <message establishSecurityContext="false" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>-->
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <message establishSecurityContext="false" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Cir.Sync.Services.SyncServiceBehavior" name="Cir.Sync.Services.SyncService">
        <!-- This endpoint is exposed at the base address provided by host: ://localhost/servicemodelsamples/service.svc  -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomBinding" contract="Cir.Sync.Services.ServiceContracts.ISyncService" />
        <!-- The mex endpoint is exposed athttp://localhost/servicemodelsamples/service.svc/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="Cir.Sync.Services.ServiceContracts.ISyncService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/Cir.Sync.Services/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>