<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    
    <add name="CIM_MasterDataConn" connectionString="Data Source=CIM-DB.VESTAS.NET;Initial Catalog=CIM_ComponentInspectionReports;uid=APP_CIM_CIRM_WinApp; pwd=8fd389fedew;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CIM_CIREntities" connectionString="metadata=res://*/Edmx.SaveCirEntity.csdl|res://*/Edmx.SaveCirEntity.ssdl|res://*/Edmx.SaveCirEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CIM-DB.VESTAS.NET;initial catalog=CIM_ComponentInspectionReports;user id=APP_CIM_CIRM_WinApp;password=8fd389fedew;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key ="InitialCIRIdForNewApproach" value ="291737" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="birTemplateVersion" value="v3.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTPHost" value="dk-external-relay.vestas.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="InboxUrl" value="https://cir.vestas.com/cir"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InboxEmail" value="cir@partnernet.vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailBox1537Email" value="TechRDCIMCIM1537@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HotlistEmail" value="cim-hotlist@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FirstNotificationCcEmail" value="FirstNotification-CIM@vestas.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecondNotificationCcEmail" value="SecondNotification-CIM@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AbbMwEmail" value="Support.Machines@fi.abb.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LeroySomerMwEmail" value="sav.aceo@leroysomer.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NotificationEmail" value="JACAB@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FeedbackToEmail" value="JACAB@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SentActualMails" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="UseSapWebService" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EndPointUrl" value="https://cir-multibrand-database-prod.documents.azure.com:443/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PrimaryKey" value="XiqtNpYL99cRuKDSIWBH55Ndn2pP5B1EtuIes3cLnUEZorFo8ou8SRMiEvHtONvjszmdltc8Rvd46N5ZTReK9Q=="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapWebServiceUserName" value="SOAPCIRP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapWebServicePassword" value="Nse6bf7f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapNotificationNumberWebServiceUrl" value="http://sappow.vestas.net:8094/WSAdapter/CS0601/GetValidation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapServiceReportNumberWebServiceUrl" value="http://sappow.vestas.net:8094/WSAdapter/CS0601/ValidateServiceReportNumber" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cirprodblobstorage;AccountKey=BpmaYyTaB+JC+KfVsPIqm3jyVf1sefzCVWA39yOOk0xOJUZHT3rK7PIJxL18/WZAUSmkdgjwqgQzoAvmGciGuw==;EndpointSuffix=core.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureStorageBIRContainerName" value="birreportcontainer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AzureStorageImgContainerName" value="cirprodcontainer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="hdnCirId" value="345592" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>