<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CIM_MasterDataConn" connectionString="Data Source=cim-dev-db;Initial Catalog=CIM_ComponentInspectionReports;Integrated Security=False;user id=xestn; password=Slankemad1;" providerName="System.Data.SqlClient" />
    <add name="CIM_CIREntities" connectionString="metadata=res://*/Edmx.SaveCirEntity.csdl|res://*/Edmx.SaveCirEntity.ssdl|res://*/Edmx.SaveCirEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cim-dev-db;initial catalog=CIM_ComponentInspectionReports;integrated security=False;user id=xestn;password=Slankemad1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="SMTPHost" value="dk-external-relay.vestas.net" />
    <add key="InboxUrl" value="https://cir-dev.vestas.com/cir" />
    <add key="InboxEmail" value="surja@vestas.com" />
    <add key="MailBox1537Email" value="CIR-DEV-Notifications@vestas.com" />
    <add key="HotlistEmail" value="CIR-DEV-Notifications@vestas.com" />
    <add key="FirstNotificationCcEmail" value="FirstNotification-CIM@vestas.com" />
    <add key="SecondNotificationCcEmail" value="SecondNotification-CIM@vestas.com" />
    <add key="AbbMwEmail" value="surja@vestas.com" />
    <add key="LeroySomerMwEmail" value="mukes@vestas.com" />
    <add key="NotificationEmail" value="surja@vestas.com" />
    <add key="FeedbackToEmail" value="surja@vestas.com" />
    <add key="FeedbackToEmail" value="surja@vestas.com" />
    <add key="SentActualMails" value="false" />

    <add key="UseSapWebService" value="true" />

    <add key="SapWebServiceUserName" value="SOAPCIRD" />
    <add key="SapWebServicePassword" value="Bbx9fk1d" />
    <add key="SapNotificationNumberWebServiceUrl" value="http://sapdxc.vestas.net:50000/WSAdapter/CS0601/GetValidation" />
    <add key="SapServiceReportNumberWebServiceUrl" value="http://sapdxc.vestas.net:50000/WSAdapter/CS0601/ValidateServiceReportNumber" />


  </appSettings>
  <!-- WCF Setting code -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Cir.Sync.Services.SyncServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <message establishSecurityContext="false" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Cir.Sync.Services.SyncServiceBehavior" name="Cir.Sync.Services.ISyncService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomBinding" contract="Cir.Sync.Services.ServiceContracts.ISyncService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="Cir.Sync.Services.ServiceContracts.ISyncService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/Cir.Sync.Services/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.0" newVersion="8.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>