<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CIM_MasterDataConn" connectionString="Data Source=cim-dev-db;Initial Catalog=CIM_ComponentInspectionReports;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ApplicationConnection" connectionString="Data Source=CIM-DEV-DB.VESTAS.NET;Initial Catalog=CIM_ComponentInspectionReports;uid=APP_CIM_CIRM_WinApp; pwd=8fd389fedew;" providerName="System.Data.SqlClient"/>
    <add name="CIM_CIREntities" connectionString="metadata=res://*/Edmx.SaveCirEntity.csdl|res://*/Edmx.SaveCirEntity.ssdl|res://*/Edmx.SaveCirEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cim-dev-db;initial catalog=CIM_ComponentInspectionReports;user id=xestn;password=Slankemad1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!-- WCF Setting code -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Cir.Sync.Services.SyncServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Cir.Sync.Services.SyncServiceBehavior" name="Cir.Sync.Services.SyncService">
        <!-- This endpoint is exposed at the base address provided by host: ://localhost/servicemodelsamples/service.svc  -->
        <endpoint address="" binding="wsHttpBinding" contract="Cir.Sync.Services.ServiceContracts.ISyncService"/>
        <!-- The mex endpoint is exposed athttp://localhost/servicemodelsamples/service.svc/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="Cir.Sync.Services.ServiceContracts.ISyncService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/Cir.Sync.Services/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>