/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 13px;
    top: 4px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
    bottom: -2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 1px 2px 1px #ccc;
  
}
input:checked + .slider:before {
    background-color: #2196f3;
    left: -7px;
}

input:checked + .slider {
   background-color: #94ccf9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #009628;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchWrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    height: 20px;
}

.switchSlider {
    float: left;
    width: 8%;
}

.switchLabel {
    float: left;
    width: 70%;
}

.switchLabelText {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.537);
}