<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>

    <!--<add key="PreserveLoginUrl" value="true" />-->

    <!-- Use these settings for local development. After publishing to 
    Mobile Services, these settings will be overridden by the values specified
    in the portal. -->
    <add key="MS_MobileServiceName" value="vestascirmobileappdev"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MS_MasterKey" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="MS_ApplicationKey"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_MicrosoftClientID"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_MicrosoftClientSecret"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_FacebookAppID"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_FacebookAppSecret"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_GoogleClientID"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="MS_GoogleClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_TwitterConsumerKey"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_TwitterConsumerSecret"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_AadClientID"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MS_AadTenants"    xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="MS_CrossDomainOrigins" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AAD_CLIENT_ID" value="748af557-eb30-4b07-88b9-2c9f235e3434" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AAD_CLIENT_KEY" value="yak0ET2OkQ7nBDw8zZSyb7OrNNExMNWT6A5aqCLCOHM=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AAD_TENANT_DOMAIN" value="VestasDev.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AAD_CIRCREATOR_GROUP_ID" value="71019d98-e61c-4409-958f-52aa07a65f2e"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
   
    <!-- When using this setting, be sure to also set the Notification Hubs connection
    string named "MS_NotificationHubConnectionString". --><!--
    <add key="MS_NotificationHubName"  xdt:Transform="Remove" xdt:Locator="Match(key)" />-->

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
