<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MS_TableConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Cir.Data.Api-20171219030700.mdf;Initial Catalog=aspnet-Cir.Data.Api-20171219030700;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CIM_MasterDataConn" connectionString="Data Source=cir-dev2-db;Initial Catalog=CIM_ComponentInspectionReports;Integrated Security=False;user id=xestn; password=Vestas2019;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationInsightsInstrumentationKey" value="065e061b-70fe-4ec3-ba26-343908f2c7df" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EndPointUrl" value="https://cir-multibrand-database-test2.documents.azure.com:443/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Database" value="CirMultibrandTest" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrimaryKey" value="sg6uF5AS8bbaFsW4hldbfifPFkX4qS4F8f7svtQr19rBztPG4MlYx9uCJ38GxHH29bFX7AsRljUOL4okyE9Bzw==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage;AccountKey=Sf+pnFFK/f4P49F4gTUFW9FcQS6n5V00G4cFO63FpmD9nPmlXBWsLWGa+cF9Bv1s/izqRmS0GIKC+d2sse8r0g==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageContainerName" value="cirtestcontainer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="AzureStorageConnectionString1" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage1;AccountKey=lVsYQikP/4sL1DyEpRJqUayEbM3dOduk5/DtGuw3JV9xKFrT76QN3Rzd+/3j0yG/RFVatAzqkpE20sGEjmeggQ==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString2" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage2;AccountKey=V1Hi82c/Mnwx6A+rSGqJFU3b7bj73IMHYzN9xcTjvl/S9230mVTPhmqfxdCDW5a5jjvsggX0Fc6Op7FXEINGyA==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString3" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage3;AccountKey=ZSq8FThfOKTxzeU2X0bRmhofdLMuZAu66PM01nqXsS4QOlr1V6bcdBmf3UcsqXd8dgioRMpnkA0h6jSd3p6wPA==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString4" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage4;AccountKey=nOH1P0m7Se7tno9mFWd1d6+0nnPKv00OdYWq1s/YinCAbmRbNvV4mYFwgstxx3zSBpZF6egv8hnyUgs0ZhuHJA==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString5" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage5;AccountKey=TQG/AB9NvqW1Z0T+XyBK9F4rvwK/uMsfAJ2fS/9WxU1RfvC7rfdakPpLxGoSMg4EeIPSzuRoLKBCuhMaij+jbw==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString6" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage6;AccountKey=cKiAnvJYCIh4VIXP00IheWBNzVvs80Sq8nOCAUa7LaYB+ficyx4YE7yzK2C4VBjjfT9vpImOR6j3j+zTcXp54w==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString7" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage7;AccountKey=ufqwp4OjWQyct2Q9kz5lRoB0wnTXXOINwxVM2mTV+okrkCLgdE1enHw641CtvzRqb+0cm9zLw8tvAG+O5iMBOA==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString8" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage8;AccountKey=tZ/TSKXYNCD18XI71pbrCnwjtssd/eU2nMeVD3Fzjsr9j8ljQEuOWWVD2PpSoWRpE8azvBCBg7R6N+ttk4JYEw==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString9" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage9;AccountKey=TiIx3OHjj0L7U7/whHYy94clyIj3HBPWjoV2C4UWpWQuBAuuT06YwKJpmeBhGjcfyvv0tloxKCOW84pc1GParw==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString10" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage10;AccountKey=lv38kvKiIVv0jxS6ufsE0IOgC5OW0C8X09PB57MztOvUqz4v3H8BrPoLiQ7gIx8CtFeQU5xGG5wX8rHMZqnJsg==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString11" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage11;AccountKey=2JokCDScNxhqqCSNWf5+mOp8FAb/+kLlylf18xVTwiHXzXXWeDQD2JQwUWjGJCaK7qHbZaa+IKSw5jDPxkG+yA==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString12" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage12;AccountKey=1bP7ynTaIvAN46Uj8oOBxHg4NJhWC5shOmUdxBvwjwUmfx8TYOb22b/BJ39O5GD65lDC3VFPW5aZbk3v6HROIQ==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString13" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage13;AccountKey=H6z1RJLL93OGs+qk1MM7qacFZX8ck+WKsSfoZITGVPewyd1Mags2KtmNJqHKFho8POtMDkUkC3zMPQsZe4Js/w==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString14" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage14;AccountKey=uPXY7s59HvZw74Gc5aHijuU5WGC63/B5IptSQIDkSvtqYJkUl9ZMCFwfZewD9+42k9sj/E0BdIqx8k7V0pm59g==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageConnectionString15" value="DefaultEndpointsProtocol=https;AccountName=cirtestblobstorage15;AccountKey=f1aXXRTOPm5xsJogTbnDvNPqfzQDnVtKk6dr169mUXXiNGjjkP3b97sQU58XbBUMkEmXSEpmat96oeigNtLvNw==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NoOfStorages" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="InspecToolsApiUrl" value="https://servicestest.vestas.inspectools.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="InspecToolsResourceId" value="e163e780-47ed-490f-9152-9f6a104270e8" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AdTenantId" value="VestasTest1.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AdTenantGuid" value="1d7dbf0f-21dc-490c-84df-bd5ebad37e4b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ValidAudience" value="https://vestascirappservicetest.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ValidIssuer" value="https://vestascirappservicetest.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ClientId" value="c2cbd4c9-f77c-45e1-bbf0-92f32a7fcbd6" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="XoIgjD4h6Pfwg/k+YFPiFsk35bqMjg5Cz4K+vpivsvQ=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseSapWebService" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SapWebServiceUserName" value="SOAPCIRQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapWebServicePassword" value="Sbf2ejhx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapNotificationNumberWebServiceUrl" value="http://sapqow.vestas.net:8094/WSAdapter/CS0601/GetValidation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapServiceReportNumberWebServiceUrl" value="http://sapqow.vestas.net:8094/WSAdapter/CS0601/ValidateServiceReportNumber" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <add key="FirstNotificationCcEmail" value="rebat@vestas.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecondNotificationCcEmail" value="rebat@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AbbMwEmail" value="rebat@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LeroySomerMwEmail" value="rebat@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>     
    <add key="MailBox1537Email" value="rebat@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InboxUrl" value="https://cir-test.vestas.com/cir"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SasBlobToken0" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-08T15:59:27Z&amp;st=2019-06-10T07:59:27Z&amp;spr=https,http&amp;sig=%2F19DDwWCXi9S41EyGdZKEAr4wqoctHXV8VXY%2BjdGmoU%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken1" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T07:15:51Z&amp;st=2019-06-03T23:15:51Z&amp;spr=https,http&amp;sig=NVszRaheaCySn5UKI%2BOcpz7umytAr5%2BYRv6gTXCB59Q%3D"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken2" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T07:17:53Z&amp;st=2019-06-03T23:17:53Z&amp;spr=https,http&amp;sig=jZds2zQZlajmgb5NUZgDCb7epUvs7LHyHeVnMPAGwTQ%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken3" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T07:19:11Z&amp;st=2019-06-03T23:19:11Z&amp;spr=https,http&amp;sig=GyNt%2BL08Tkwh741cnRDYnpyG0VZH%2Fwjj5JktdgVLr%2FA%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken4" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T07:20:31Z&amp;st=2019-06-03T23:20:31Z&amp;spr=https,http&amp;sig=8azY%2F3Z5I%2B5ebd4zIrErm8rxmcIy%2B7v5JPZ9UoYWjuU%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken5" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:40:11Z&amp;st=2019-06-04T05:40:11Z&amp;spr=https,http&amp;sig=c2Ic3nZqvTd2nq0EVysclvwx6axjgDYihEAeDVfzZCg%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken6" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:41:43Z&amp;st=2019-06-04T05:41:43Z&amp;spr=https,http&amp;sig=SGGj3%2FMpyWPuS3svYx75ViguXb001LcFFmakyj7UKxU%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken7" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:45:51Z&amp;st=2019-06-04T05:45:51Z&amp;spr=https,http&amp;sig=k9bvlCjuosI9jnmp1mOB%2BKHxras6bDUAjSteQx3NjFE%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken8" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:48:07Z&amp;st=2019-06-04T05:48:07Z&amp;spr=https,http&amp;sig=paXFhMuY6kA09SxLm52OAynTzlBwu1RyWslgvHNXV9E%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken9" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:49:34Z&amp;st=2019-06-04T05:49:34Z&amp;spr=https,http&amp;sig=VkXAbujhLDt4alorF8p0bvq6KqPrXIuy4y1fK83PPbs%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken10" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:51:08Z&amp;st=2019-06-04T05:51:08Z&amp;spr=https,http&amp;sig=1fF%2FMUwn9J72iDkv%2Bri07pPE6gc1TCCkw5L8kqdqSko%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken11" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:52:28Z&amp;st=2019-06-04T05:52:28Z&amp;spr=https,http&amp;sig=%2FxkABoLOv3%2FRCfhu6VbrUHZCJ1nlOO0ZVR13T6vC3r8%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken12" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:53:59Z&amp;st=2019-06-04T05:53:59Z&amp;spr=https,http&amp;sig=zASX8uRH9xRiLGCY7DP3i%2FpexUvQ34RQCv4AC9K2YeY%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken13" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:55:04Z&amp;st=2019-06-04T05:55:04Z&amp;spr=https,http&amp;sig=YKMXeHjKGxyVivm02j0yvdbk7ziKqvbRlNtUlwg0xZs%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken14" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:56:16Z&amp;st=2019-06-04T05:56:16Z&amp;spr=https,http&amp;sig=4D4zRel6pblcyIUJ731yVJy7mCBSE4ht5Wv0KKn9%2BME%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SasBlobToken15" value="?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2025-06-04T13:57:34Z&amp;st=2019-06-04T05:57:34Z&amp;spr=https,http&amp;sig=IavSF33ptL3AtLCxtuMz9cFcF9Rsgr6s%2B6aChEpLy40%3D" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://dkrdstowerdt01/Cir.Sync.Services/SyncService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISyncService" contract="CirSyncService.ISyncService" name="WSHttpBinding_ISyncService" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <endpoint address="http://dkrdstowerdt01/Cir.Sync.Services/SyncService.svc/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISyncService" contract="CirSyncService.ISyncService" name="MetadataExchangeHttpBinding_ISyncService" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </client>
  </system.serviceModel>
</configuration>