<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MS_TableConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Cir.Data.Api-20171219030700.mdf;Initial Catalog=aspnet-Cir.Data.Api-20171219030700;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="owin:appStartup" value="Cir.Data.Api.Startup" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Use these settings for local development. After publishing to your
    Mobile App, these settings will be overridden by the values specified
    in the portal. -->
    <add key="ApplicationInsightsInstrumentationKey" value="525871d4-b9c7-4004-9362-b69c60dc8157" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MS_SigningKey" value="F20C28E7FEC55B1DAB3AFF8644791D89D9BF38979A2C5AC5F3619FEFC5B99A3E" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MS_MobileServiceName" value="vestascirappserviceprod" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EMA_RuntimeUrl" value="Overridden by portal settings" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EndPointUrl" value="https://cir-multibrand-database-prod.documents.azure.com:443/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrimaryKey" value="XiqtNpYL99cRuKDSIWBH55Ndn2pP5B1EtuIes3cLnUEZorFo8ou8SRMiEvHtONvjszmdltc8Rvd46N5ZTReK9Q==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Database" value="CirMultibrand" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BrandDataCollection" value="Brand" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CirCollectionPrefix" value="CirReport" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CirTemplateCollection" value="CirTemplates" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GroupUserBrandCollection" value="GroupUserBrand" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MessagesCollection" value="Messages" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CirIdCollection" value="CirId" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CirHistoryCollection" value="CirReportHistory" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IntegrationRequestsCollection" value="IntegrationRequests" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HotlistDataCollection" value="HotList" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CirSyncLogCollection" value="CirSyncLog" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UserDataCachePostfix" value="UserCache" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UserDataCacheTtlMinutes" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!--preprod-->
    <!--<add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vestascirstorageprod1;AccountKey=MHBvcKClyGT1I5vBBsOkG7K0T7LDZBVg8uo07KgCNTk5BA2kdGUzrT4WEG929FvaLAbuQpbUwdmh1LB35RRVSg==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureStorageContainerName" value="cirprodcontainer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->

    <!--prod-->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cirprodblobstorage;AccountKey=BpmaYyTaB+JC+KfVsPIqm3jyVf1sefzCVWA39yOOk0xOJUZHT3rK7PIJxL18/WZAUSmkdgjwqgQzoAvmGciGuw==;EndpointSuffix=core.windows.net"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureStorageContainerName" value="cirprodcontainer" xdt:Transform="Replace" xdt:Locator="Match(key)" />


    <!-- When using this setting, be sure to add matching Notification Hubs connection
    string in the connectionStrings section with the name "MS_NotificationHubConnectionString". -->
    <add key="MS_NotificationHubName" value="Overridden by portal settings" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UseSapWebService" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapWebServiceUserName" value="SOAPCIRP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapWebServicePassword" value="Nse6bf7f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapNotificationNumberWebServiceUrl" value="http://sappow.vestas.net:8094/WSAdapter/CS0601/GetValidation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SapServiceReportNumberWebServiceUrl" value="http://sappow.vestas.net:8094/WSAdapter/CS0601/ValidateServiceReportNumber" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="InspecToolsApiUrl" value="https://servicesprod.inspectools.net/v2.8/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InspecToolsResourceId" value="17722449-ef2e-4adc-ad1d-8b7ead334ec9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="InspecToolsLockCirSuffix" value="vestas/cir/{0}/lock?userId={1}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InspecToolsLockPostCirSuffix" value="vestas/cir" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InspecToolsUnlockCirSuffix" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InspecToolsRequestTimeout" value="600" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InspecToolsReqeustRetrySleepTime" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BladeInspectionTemplateBrandName" value="CirReportVestasBladeInspection" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BladeInspectionTemplateName" value="BladeInspection" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AdTenantId" value="vestas.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AdTenantGuid" value="c0701940-7b3f-4116-a59f-159078bc3c63" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ValidAudience" value="https://vestascirappserviceprod.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ValidIssuer" value="https://vestascirappserviceprod.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AdConnectionString" value="RunAs=App;AppId={0};TenantId={1};AppKey={2}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GraphApiUri" value="https://graph.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ClientId" value="ac1c0b8e-8288-4a25-99a0-13108ffb28da" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="b[4Z-kz76TpmKv2:.nx.SaCLi5Cici1." xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AadAuthString" value="https://login.microsoftonline.com/{0}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!--<add />-->

    <add key="FirstNotificationCcEmail" value="FirstNotification-CIM@vestas.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecondNotificationCcEmail" value="SecondNotification-CIM@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AbbMwEmail" value="Support.Machines@fi.abb.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LeroySomerMwEmail" value="sav.aceo@leroysomer.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailBox1537Email" value="TechRDCIMCIM1537@vestas.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InboxUrl" value="https://cir.vestas.com/cir"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.6.1" />
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->

    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xmlns:bcl="urn:schemas-microsoft-com:bcl">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.2.6005" newVersion="3.19.2.6005" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.2.6005" newVersion="3.19.2.6005" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Mobile.Server" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Mobile.Server.Tables" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Mobile.Server.Entity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Mobile.Server.Home" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISyncService" maxReceivedMessageSize="64000000" sendTimeout="00:50:00">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_ISyncService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <!--prod-->
      <endpoint address="http://dkrdstowerdp01/Cir.Sync.Services/SyncService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISyncService" contract="CirSyncService.ISyncService" name="WSHttpBinding_ISyncService" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://dkrdstowerdp01/Cir.Sync.Services/SyncService.svc/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISyncService" contract="CirSyncService.ISyncService" name="MetadataExchangeHttpBinding_ISyncService" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

      <!--preprod-->
      <!--<endpoint address="http://dkrdstowerdt01/Cir.Sync.Services/SyncService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISyncService" contract="CirSyncService.ISyncService" name="WSHttpBinding_ISyncService" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://dkrdstowerdt01/Cir.Sync.Services/SyncService.svc/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISyncService" contract="CirSyncService.ISyncService" name="MetadataExchangeHttpBinding_ISyncService" xdt:Transform="Replace" xdt:Locator="Match(name)"/>-->
    </client>
  </system.serviceModel>

</configuration>
