<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationConnection" connectionString="Data Source=CIM-DEV-DB.VESTAS.NET;Initial Catalog=CIM_ComponentInspectionReports;uid=APP_CIM_CIRM_WinApp; pwd=8fd389fedew;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
  </connectionStrings>
  <appSettings file="Application.config">
    <add key="MobileAppURL" value="https://vestascirmobileappdev.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MobileAppID" value="https://vestascirmobileappdev.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="AADTenantDomain" value="VestasDev.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <!--<add key="AADclientId" value="13dc00dc-cbd2-462f-8950-daf40ff90a4a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <!--<add key="AADclientKey" value="GFVB1h1NORFFWw/lrHxuOJhJpUALGnieQ9Q/r4sasDc=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="AADclientKey" value="0SrjfzRfP4Vi/p+DX68zQn9wzCtPqGtXUFMvrAjZDcE=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HostName" value="https://cir-dev.vestas.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppTitle" value="cir.vestas.com - Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppEnv" value="Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PMANURL" value="http://pman-dev.vestas.net/AdvancedSearch.aspx?searchinitiated=true&amp;caseid=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>