<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationConnection" connectionString="cir-dev2-db;Initial Catalog=CIM_ComponentInspectionReports;user id=xestn; password=Vestas2019;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
  </connectionStrings>
  <appSettings file="Application.config">
    <add key="MobileAppURL" value="https://vestascirmobileapptest.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MobileAppID" value="https://vestascirmobileapptest.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="FormIOMobileAppId" value="https://vestascirappservicetest.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FormIOMobileAppUrl" value="https://vestascirappservicetest.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AADTenantDomain" value="VestasTest1.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AADclientId" value="0013ea93-c22e-4f81-a8e2-a45c7aca6ffb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AADclientKey" value="zZrWvNDV/LIDThd+Udjl1WHxTfKfpFow3u4hjx1o8p4=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HostName" value="http://cir-test.vestas.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppTitle" value="cir.vestas.com - Test Environment (NOT FOR PRODUCTION)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppEnv" value="Test Environment (NOT FOR PRODUCTION)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PMANURL" value="http://pman-test.vestas.net/AdvancedSearch.aspx?searchinitiated=true&amp;caseid=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureFunctionsBaseUrl" value="https://cirfunctionapptest.azurewebsites.net/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>