<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--prod-->
    <add name="ApplicationConnection" connectionString="Data Source=CIM-DB.VESTAS.NET;Initial Catalog=CIM_ComponentInspectionReports;uid=APP_CIM_CIRM_WinApp; pwd=8fd389fedew;" providerName="System.Data.SqlClient" />

    <!--preprod-->
    <!--<add name="ApplicationConnection" connectionString="Data Source=CIM-TEST-DB.VESTAS.NET;Initial Catalog=CIM_ComponentInspectionReports;uid=APP_CIM_CIRM_WinApp; pwd=8fd389fedew;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings file="Application.config">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AppID" value="NA" />

    <add key="FormIOMobileAppId" value="https://vestascirappserviceprod.azurewebsites.net" />
    <add key="FormIOMobileAppUrl" value="https://vestascirappserviceprod.azurewebsites.net" />

    <!--<add key="FormIOMobileAppId" value="https://vestascirappserviceprod.azurewebsites.net" />
    <add key="FormIOMobileAppUrl" value="https://vestascirappserviceprod.azurewebsites.net" />-->

    <!--<add key="ValidAudience" value="http://localhost:52257/" />
    <add key="ValidIssuer" value="http://localhost:52257/" />-->


    <!--<add key="FormIOMobileAppId" value="https://vestascirappserviceprod.azurewebsites.net" />
    <add key="FormIOMobileAppUrl" value="https://vestascirappserviceprod.azurewebsites.net" />-->



    <add key="ZumoHeaderName" value="ZUMO-API-VERSION" />
    <add key="ZumoHeaderVersion" value="2.0.0" />
    <add key="AADTenantDomain" value="vestas.onmicrosoft.com" />
    <add key="AADclientId" value="3309a4a7-caa0-40dc-a74a-f9652d4421a1" />
    <add key="AADclientKey" value="Cr8?o82G__fNtOq1IKBjB:1D.RAwm15=" />
    <add key="HostName" value="http://cir.vestas.com" />
    <add key="PMANURL" value="http://pman-dev.vestas.net/CaseViewer.aspx?caseid=" />
    <add key="ImageTypes" value=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" />
    <add key="ImageResolutionWidth" value="1024" />
    <add key="DropdownDataTypes" value=".xls, .xlsx" />
    <!--prod-->


    <add key="MobileAppURL" value="https://vestascirmobileappprod1.azurewebsites.net" />
    <add key="MobileAppID" value="https://vestascirmobileappprod1.azurewebsites.net" />

    <add key="Main.ConnectionString" value="data source=CIM-DB.VESTAS.NET;initial catalog=CIM_ComponentInspectionReports;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add key="hdnCirId" value="345592" />
    <add key="AzureFunctionsBaseUrl" value="https://cirfunctionappprod.azurewebsites.net/api/" />
    <add key="AzureFunctionsAppCode" value="G3A6lc1IQihWy8if2U0Nz7Dnm/ZBAnhBxhQejZClKSQfMtRB3AyMBA==" />

    <add key="AppTitle" value="cir.vestas.com" />
    <add key="AppEnv" value="Production" />
    <!--<add key="HostName" value="http://localhost:59485" />-->
    <!--preprod-->
    <!--<add key="MobileAppURL" value="https://vestascirmobileappprod1.azurewebsites.net" />
    <add key="MobileAppID" value="https://vestascirmobileappprod1.azurewebsites.net" />
    <add key="Main.ConnectionString" value="data source=CIM-TEST-DB.VESTAS.NET;initial catalog=CIM_ComponentInspectionReports;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add key="hdnCirId" value="400000" />
    <add key="HostName" value="http://localhost:59485" />
    <add key="AppTitle" value="cir.vestas.com - PreProd Environment (NOT FOR PRODUCTION)" />
    <add key="AppEnv" value="PreProd Environment (NOT FOR PRODUCTION)" />-->

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <!--<add namespace="MvcPaging" />-->
      </namespaces>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name ="Content-Security-Policy" value="self"/>
        <add name ="Feature-Policy" value="*"/>
        <add name ="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name ="Referrer-Policy" value="strict-origin"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
      <redirectHeaders>
        <clear/>
      </redirectHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <staticContent>
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
          </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>